<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center"> <%= stat_title.to_s.titleize %></h3>
  </div>
  <div class="panel-body">
    <h2 class = "text-center" style="color:<%= color %>"> <%= stat %> <%= suffix %> </h2>
  </div>
</div>
