<div class="row">
    <div class="col-md-12 padding-0">
        <div class="container">
          <div class="jumbotron">
            <h1>Welcome to the CKM Airline Dashboard</h1>
            <p>
              In an effort to determine CKM's primary airline, we have analyzed 1.4 million flights between September and November of 2012.
            </p>
            <div class="row">
              <div class="col-md-4">
                <%= link_to "View the Carriers and Data", carriers_path, class: "btn btn-large btn-primary" %>
              </div>
              <div class="col-md-4">
                <%= link_to "View the Analysis Methodology", methodology_path, class: "btn btn-large btn-primary" %>
              </div>
              <div class="col-md-4">
                <%= link_to "View the Answer", answer_path, class: "btn btn-large btn-primary" %>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
