@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #252839;
  background-image: url('https://images.unsplash.com/photo-1444771820225-000ebb5d7ac3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1dc7e6fe6b1d497b9f2f032f76abbab1');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color: #0d1827;
  border-color: transparent;
}

.transparent {
  opacity: 0.4;
}

.padded {
  padding-left: 10px;
}

.padding-0 {
    padding: 0;
}

.background-hero-1{
  background-image: url("https://images.unsplash.com/photo-1438045809872-34a58ff469f6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=07b21702b0ce195a73dfebe6307483cb");
}

.text-center {
  text-align: center;
}

.in-line {
  display: inline;
}
